@import '../../tokens.css';

.description{
    grid-column: span 2;
}

.pageItem{
    padding-bottom: 32px;
}

h1{
    padding-bottom: 32px;
}

.pageItem ul,ol{
    padding-top: 24px;
    padding-bottom: 24px;
}